.vscode/*
*.dSYM
chapter2.exe
chapter3.exe
chapter4.exe
chapter5.exe
chapter5-5-7.exe
chapter5-5-8.exe
chapter5-5-9.exe
chapter6-6-1.exe
chapter6-6-3.exe
chapter6-6-4.exe
chapter6-6-5.exe
chapter7-7-1.exe
chapter7-7-2.exe
chapter7-7-3.exe
chapter8-8-4.exe
chapter8-8-6.exe
chapter9-9-1.exe
chapter8-8-6
chapter9-9-1